{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}

{% set activeMenu = "firmante" %}

{% block breadcrumb %}
  <li><a href="#">Firmante</a></li>
  <li class="active">Editar</li>
{% endblock %}

{% block sectionBody %}
<h1>Crear Firmante</h1>
{{ form_start(edit_form) }}
    <div class="form-group label-floating is-empty">
        <label class="control-label">Nombre</label>
        {{ form_widget(edit_form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'nombre'}}) }}
        <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty">
      <label class="control-label">DNI</label>
      {{ form_widget(edit_form.dni, {'attr': {'class': 'form-control', 'placeholder': 'nro DNI'}}) }}
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty">
      <label class="control-label">Firma Digital</label>
      <input type="file" id="firmante_firma" name="firmante[firma]" required="required" class="form-control">
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty">
      <label class="control-label">Rol</label>
      {{ form_widget(edit_form.tipoRolFirmante, {'attr': {'class': 'form-control'}}) }}
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty">
      <label class="control-label">Tareas</label>
      {{ form_widget(edit_form.jobs, {'attr': {'class': 'form-control', 'placeholder': 'mail@server.com'}}) }}
      <span class="material-input"></span>
    </div>
    <input type="submit" class="btn btn-primary" value="Crear" />
 {{ form_end(edit_form) }}
{% endblock %}
