{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}

{% set activeMenu = "firmante" %}

{% block breadcrumb %}
  <li><a href="#">Firmante</a></li>
  <li class="active">Inicio</li>
{% endblock %}

{% block sectionBody %}
<div class="row">
  <div class="col-md-7">
    <h1>Lista de Firmantes</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Dni</th>
                <th>Nombre</th>
                <th>Rol del Firmante</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for firmante in firmantes %}
            <tr>
                <td><a href="{{ path('firmante_show', { 'id': firmante.id }) }}">{{ firmante.id }}</a></td>
                <td>{{ firmante.dni }}</td>
                <td>{{ firmante.nombre }}</td>
                <td>{{ firmante.tipoRolFirmante }}</td>
                <td>
                    <a title="Modificar" class="btn btn-primary" href="{{ path('firmante_edit', { 'id': firmante.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <h1>Crear Firmante</h1>
    {{ form_start(form) }}
        <div class="form-group label-floating is-empty">
            <label class="control-label">Nombre</label>
            {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'nombre'}}) }}
            <span class="material-input"></span>
        </div>
        <div class="form-group label-floating is-empty">
          <label class="control-label">DNI</label>
          {{ form_widget(form.dni, {'attr': {'class': 'form-control', 'placeholder': 'nro DNI'}}) }}
          <span class="material-input"></span>
        </div>
        <div class="form-group is-empty is-fileinput">
          <label class="control-label">Firma Digital</label>
          <input type="file" id="firmante_firma" name="firmante[firma]" required="required" class="form-control">
          <span class="material-input"></span>
        </div>
        <div class="form-group label-floating is-empty">
          <label class="control-label">Rol</label>
          {{ form_widget(form.tipoRolFirmante, {'attr': {'class': 'form-control'}}) }}
          <span class="material-input"></span>
        </div>
        <div class="form-group label-floating is-empty">
          <label class="control-label">Tareas</label>
          {{ form_widget(form.jobs, {'attr': {'class': 'form-control', 'placeholder': 'mail@server.com'}}) }}
          <span class="material-input"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Crear" />
     {{ form_end(form) }}
  </div>
</div>

{% endblock %}
