{% extends "LaFuenteCertificadoBundle::default.html.twig" %}

{% block main %}
    <h1>Firmante</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ firmante.id }}</td>
            </tr>
            <tr>
                <th>Dni</th>
                <td>{{ firmante.dni }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ firmante.nombre }}</td>
            </tr>
            <tr>
                <th>firma</th>
                <td>
                    <img alt="firma" src="data:{{type}};base64,{{ firma }}" />
                </td>
            </tr>
            <tr>
                <th>Tiporolfirmante</th>
                <td>{{ firmante.tipoRolFirmante }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('firmante_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('firmante_edit', { 'id': firmante.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
