<ul class="header-nav profile">
    <li class="dropdown">
        <a href="#" data-target="dropdown-menu" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{% if app.user.imageType %}data:{{app.user.getImageType() }};base64,{{ app.user.getImage()  }}{% else %}{{ asset('images/profile.jpg') }}{% endif %}" alt="" class="img-circle">
            <span class="info">
                {{app.user.apellido}}, {{app.user.nombre}}
                <small>{{ app.user.roles[0] |replace({'ROLE_SUPER_ADMIN': "Super Administrador", 'ROLE_ADMIN': "Administrador", 'ROLE_USER': "Alumno"}) }}</small>
            </span>
            <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="#"><i class="mi">&#xE7FD;</i> Perfil</a></li>
            <li><a href="#"><i class="mi">&#xE899;</i> Lock</a></li>
            <li><a href="{{ path('fos_user_security_logout') }}"><i class="mi">&#xE8AC;</i> Cerrar Sesión</a></li>
        </ul>
    </li>
</ul>
