<div class="row">
    <div class="header ">
      <a href="{{ path('certificado_homepage') }}">
        <img class="col-md-12" style="max-width:100%;" src="{{ asset('img/header.png') }}" title="encabezado" />
      </a>
    </div>
    <div class="dropdown col-lg-2 col-lg-offset-10">
        <div class="margin-top2"></div>
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class='glyphicon glyphicon-list-alt'></i> Operaciones <span class="caret"></span> </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">             
              <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{{ path('persona_index') }}">
                  <span class="glyphicon glyphicon-th-list"></span> Listar Personas
                  </a>
              </li> 
              <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{{ path('tiporolpersona_index') }}">
                  <span class="glyphicon glyphicon-th-list"></span> Listar Tipo de Rol de Personas
                  </a>
              </li>
              <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{{ path('firmante_index') }}">
                  <span class="glyphicon glyphicon-th-list"></span> Listar Firmantes
                  </a>
              </li>
              <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{{ path('jobs_index') }}">
                  <span class="glyphicon glyphicon-th-list"></span> Listar Tareas
                  </a>
              </li>
              <li role="presentation">
                  <a role="menuitem" tabindex="-1" href="{{ path('tipocertificado_index') }}">
                  <span class="glyphicon glyphicon-th-list"></span> Listar Tipo Certificado
                  </a>
              </li>
            </ul>
    </div>
</div>