{% extends 'LaFuenteCertificadoBundle::layout.html.twig' %}

{% if title is not defined %}
    {% set title = "" %}
{% else %}
    {% set title = " | "~title %}
{% endif %}

{% block meta_description %}
Sistema Certificado
{% endblock %}

{% block meta_author %}
Somos los autores
{% endblock %}

{% block title %}
Sistema Certificado {{ title }}
{% endblock %}

{% block stylesheet %}
    {{ parent() }}
{% endblock stylesheet %}

{% block header %}
	{% include 'LaFuenteCertificadoBundle:Default:header.html.twig' %}
{% endblock %}

{% block mainnav_container %}
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
	    <ol class="breadcrumb">
	        
	        <li><a href="{{path('certificado_homepage')}}">Inicio</a></li>
	        {% block lugar %}
	            <li>lala</li>
	        {% endblock lugar %}
	        
	        <li  class="active  pull-right">
	            {{app.user.username}}  
	            {% block ocultarRoles %}
	                Rol:
	                {{ app.user.roles[0] |replace({'ROLE_SUPER_ADMIN': "Super Admin", 'ROLE_ADMIN': "Admin", 'ROLE_USER': "Editor", 'ROLE_VIEW': "Veedor"}) }}
	            {% endblock ocultarRoles%}
	            <a href="{{ path('fos_user_security_logout') }}" title="Cerrar sesión"><span class="glyphicon glyphicon-log-out">Salir</span></a>
	        </li>
	    
	    </ol>
	{% endif %}
{% endblock %}

{% block footer %}
{% include 'LaFuenteCertificadoBundle:Default:footer.html.twig' %}
{% endblock %}


{% block main %}

{% endblock %}