{% extends 'base.html.twig' %}


{% set activeMenu = "producto" %}

{% block breadcrumb %}
  <li><a href="#">Producto</a></li>
  <li class="active">Crear Mate</li>
{% endblock %}

{% block sectionBody %}
    <h1>Mate creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('producto_mate_index') }}">Back to the list</a>
        </li>
    </ul>
  {% endblock %}

  {% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3SbyFGlZKCWqTkydIlRHcUWPgPJyfqrA&callback=laFuentePrestamos.newUserPage.initGoogleMaps" async defer ></script>
    <script src="{{ asset('js/imageViewer.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/laFuente/pages/newUser.js') }}" type="text/javascript" charset="utf-8"></script>
  {% endblock %}
