{% extends 'LaFuentePrestamoBundle::layout.html.twig' %}



{% set activeMenu = "Productos" %}
{% set activeSubMenu = "Termo" %}

{% block breadcrumb %}
  <li><a href="#">Producto</a></li>
  <li class="active">Termo Inicio</li>
{% endblock %}

{% block sectionBody %}
<div class="row">
  <div class="col-md-7">
    <h1>Lista de Termos</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Numero</th>
                <th>Creado</th>
                <th>Avilitado</th>
                <th>Nota</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for termo in termos %}
            <tr>
                <td>{{ termo.id }}</td>
                <td>{{ termo.numero }}</a></td>
                <td>{% if termo.createdAt %}{{ termo.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if termo.availability %}Si{% else %}No{% endif %}</td>
                <td>{{ termo.notes }}</td>
                <td>
                  <a class="btn btn-success" href="{{ path('producto_termo_show', { 'id': termo.id }) }}" title="Ver"><span class='glyphicon glyphicon-eye-open'></span></a>
                  <a class="btn btn-primary" href="{{ path('producto_termo_edit', { 'id': termo.id }) }}" title="Editar"><span class='glyphicon glyphicon-pencil' ></span></a>
                  <a class="btn btn-danger" href="{{path('producto_termo_delete', { 'id': termo.id })}}" title='Eliminar'><span class='glyphicon glyphicon-remove'></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <h1>Crear Termo</h1>
    {{ form_start(form) }}
        <div class="form-group">
          <div class="checkbox">
            <label>
              {{ form_widget(form.availability) }}<span class="checkbox-material"></span> {{ form_label(form.availability) }}
            </label>
          </div>
        </div>
        <div class="form-group">
          {{ form_label(form.numero) }}
          {{ form_widget(form.numero, {'attr': {'class': 'form-control', 'data-dropdownjs':'true'}}) }}
          <span class="material-input"></span>
        </div>
        <div class="form-group label-floating is-empty">
            <label class="control-label">Nota</label>
           {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}) }}
            <span class="material-input"></span>
        </div>
        <div class="form-group">
          {{ form_label(form.estado) }}
          {{ form_widget(form.estado, {'attr': {'class': 'form-control', 'data-dropdownjs':'true'}}) }}
          <span class="material-input"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Crear" />
    {{ form_end(form) }}

  </div>
</div>
    {% endblock %}
