{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}
{% set activeMenu = "tipoRolPersona" %}

{% block breadcrumb %}
  <li><a href="#">Tipos de Rol de Persona</a></li>
  <li class="active">Inicio</li>
{% endblock %}
{% block sectionBody %}
<div class="row">
  <div class="col-md-7">
    <h1>Lista de Tipos de Rol de Personas</h1>
        <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for tipoRolPersona in tipoRolPersonas %}
            <tr>
                <td><a href="{{ path('tiporolpersona_show', { 'id': tipoRolPersona.id }) }}">{{ tipoRolPersona.id }}</a></td>
                <td>{{ tipoRolPersona.nombre }}</td>
                <td>
                    <a title="Ver" class="btn btn-primary" href="{{ path('tiporolpersona_show', { 'id': tipoRolPersona.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a title="Modificar" class="btn btn-primary" href="{{ path('tiporolpersona_edit', { 'id': tipoRolPersona.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <h1>Crear Tipos de Rol de Personas</h1>
    {{ form_start(form) }}
        <div class="form-group label-floating is-empty">
            <label class="control-label">Nombre</label>
            {{ form_widget(form.nombre, {'attr': {'class': 'form-control', 'placeholder': 'nombre'}}) }}
            <span class="material-input"></span>
        </div>
        <input type="submit" class="btn btn-primary" value="Crear" />
     {{ form_end(form) }}
  </div>
</div>
{% endblock %}
