{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}
{% set activeMenu = "tipoRolPersona" %}

{% block breadcrumb %}
  <li><a href="#">Tipos de Rol de Persona</a></li>
  <li class="active">Ver</li>
{% endblock %}
{% block sectionBody %}
    <h1>TipoRolPersona</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ tipoRolPersona.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ tipoRolPersona.nombre }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('tiporolpersona_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('tiporolpersona_edit', { 'id': tipoRolPersona.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
