{% extends 'LaFuentePrestamoBundle::layout.html.twig' %}


{% set activeMenu = "Dashboard" %}

{% block breadcrumb %}
  <li><a href="#">Inicio</a></li>
  <li class="active">Estado General</li>
{% endblock %}

{% block sectionBody %}
<div class="row">
  <div class="col-md-7"  id="paginacion">
    {% if status is not empty %}
      <div class="alert {% if status %} alert-success {% else %}alert-danger {% endif %} alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <strong>Atencion!</strong> {{msj}}
      </div>
    {% endif %}
    <h1>Lista de Prestamos Activos</h1>
    <div class="row">
      <div class="col-md-offset-1">
      <div class="form-group">
          <div class="col-md-10">
              <input type="text" class="input-busqueda form-control" placeholder="Inicie su búsqueda aquí ...">
          </div>
          <div class="col-md-2">
              <span class="input-group-btn input-group-sm">
                <button type="button" class="btn btn-fab btn-fab-mini dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
                  <span class="glyphicon glyphicon-filter"></span>
                </button>
              <ul class="dropdown-menu" role="menu" aria-labelledby="opcionesDeFiltrado" style="padding:10px;">
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="nombre" checked>
                    <label>Alumno Nombre</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="dni" checked>
                    <label>Alumno DNI</label>
                </li>
                <li role="presentation">
                    <input type="checkbox" name="busqueda" value="productos" checked>
                    <label>Productos</label>
                </li>
              </ul>
            </span>
            </div>
          </div>
      </div>
    </div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>
                  <button class="sort btn short-btn-order" data-sort="id">
                      <i class="material-icons">&#xE8D5;</i>
                  </button>
                  Id
                </th>
                <th>
                  <button class="sort btn short-btn-order" data-sort="nombre">
                      <i class="material-icons">&#xE8D5;</i>
                  </button>
                  Alumno
                </th>
                <th>
                  <button class="sort btn short-btn-order" data-sort="dni">
                      <i class="material-icons">&#xE8D5;</i>
                  </button>
                  DNI
                </th>
                <th>
                  <button class="sort btn short-btn-order" data-sort="realizado">
                      <i class="material-icons">&#xE8D5;</i>
                  </button>
                  Realizado el
                </th>
                <th>
                  <button class="sort btn short-btn-order" data-sort="productos">
                      <i class="material-icons">&#xE8D5;</i>
                  </button>
                  Productos
                </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="list">

        {% for prestamo in prestamosActivos %}
            <tr prestamo-id="{{ prestamo }}">
              <td class="id">{{ prestamo.id }}</td>
                <td class="nombre">{{ prestamo.usuario.apellido }}, {{ prestamo.usuario.nombre }}</td>
                <td class="dni">{{ prestamo.usuario.dni }}</td>
                <td class="fecha">{% if prestamo.fecha %}{{ prestamo.fecha |date('Y-m-d H:i:s') }}{% endif %}</td>
                <td class="productos">
                    {% for producto in prestamo.products %}
                      {% if producto.devueltoAt != null %}
                        <div>{{producto.product}}</div>
                      {% else %}
                        <div class="checkbox min-chekck">
                          <label>
                            <input type="checkbox" id="inputMate" productoPrestamo="{{producto}}" > {{producto.product}}
                          </label>
                        </div>
                      {% endif %}
                    {% endfor %}
                </td>
                <td>
                  <span class="btn btn-primary devolucionParcial" title="Devolucion Parcial"><i class="material-icons">&#xE876;</i></span>
                  <a class="btn btn-success" href="{{ path('prestamos_devolucion', { 'prestamo': prestamo })  }}" title="Devolucion Total"><i class="material-icons">&#xE877;</i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="col-md-8 col-md-offset-2">
        <ul class="pagination"></ul>
    </div>
  </div>
  <div class="col-md-5">
    <article class="card">
      <form class="form" action="{{ path('la_fuente_prestamo_homepage') }}" method="post">
        <div class="card-head bg-primary">
          <header>Realizar Prestamo</header>
        </div>

        <div class="card-body bg-primary form-inverse">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group label-floating is-empty">
                  <label for="dniAlumno"  class="control-label">DNI del Alumno</label>
                  <input type="number" list="alumnos" class="input-busqueda form-control" id="dniAlumno" name="alumno" required>
                <datalist id="alumnos">
                  {% for alumno in alumnos %}
                    <option data-value="{{alumno.id}}" value="{{alumno.dni}}"></option>
                  {% endfor %}
                </datalist>
              </div>
            </div>
          </div>
        </div>

        <div class="nav-head">
          <ul class="nav nav-tabs">
            <li class="active"><a href="#mate" data-toggle="tab">Mate</a></li>
            <li><a href="#pingPong" data-toggle="tab">Ping Pong</a></li>
            <li><a href="#otros" data-toggle="tab">Otros</a></li>
          </ul>
        </div>

        <div class="card-body tab-content">

          <div class="tab-pane fade active in" id="mate">
            <div class="row">
              <div class="col-md-7">
                <div class="form-group">
                  <label for="NroTermo" class="control-label">Numero de Termo</label>
                  <input type="number" list="listTermos" class="form-control" id="NroTermo" name="producto[termo]">
                  <datalist id="listTermos">
                    {% for termo in termos %}
                      <option data-value="{{termo.id}}" value="{{termo.numero}}"></option>
                    {% endfor %}
                  </datalist>
                </div>
              </div>
              <div class="col-md-5">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="inputMate" name="producto[mate]"><span class="checkbox-material"></span> Mate <span class="label label-primary" id="cantMates">{{cant.mates}}</span>
                    </label>
                  </div>
                </div>
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="inputBombilla" name="producto[bombilla]"><span class="checkbox-material"></span> Bombilla <span class="label label-primary" id="cantBombillas">{{cant.bombillas}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            </div>

          <div class="tab-pane fade" id="pingPong">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <div class="checkbox">
                    <label for="inputPaleta" class="control-label">Paletas <span class="label label-primary" id="cantPaletas">{{cant.paletas}}</span></label>
                    <input type="number" class="form-control" id="inputPaleta" name="producto[paletas]">
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <div class="checkbox">
                    <label>
                      <input type="checkbox" id="inputPelota" name="producto[pelota]"><span class="checkbox-material"></span> Pelota <span class="label label-primary" id="cantPelotas">{{cant.pelotas}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" id="otros">

          </div>

        </div>
        <footer class="card-actionbar">
          <div class="card-actionbar-row">
            <a href="#" class="btn btn-flat btn-danger">Cancelar</a>
            <button class="btn btn-primary" type="submit">Realizar</button>
          </div>
        </footer>
      </form>
    </article>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/list.pagination.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ asset('js/list.js') }}" type="text/javascript" charset="utf-8"></script>
  <script src="{{ asset('js/laFuente/pages/indexPrestamo.js') }}" type="text/javascript" charset="utf-8"></script>
{% endblock %}
