{% extends 'LaFuentePrestamoBundle::layout.html.twig' %}



{% set activeMenu = "producto" %}

{% block breadcrumb %}
  <li><a href="#">Producto</a></li>
  <li class="active">Editar Pelota</li>
{% endblock %}

{% block sectionBody %}
    <h1>Editar Pelota</h1>
    {{ form_start(edit_form) }}
      <div class="form-group">
        <div class="checkbox">
          <label>
            {{ form_widget(edit_form.availability) }}<span class="checkbox-material"></span> {{ form_label(edit_form.availability) }}
          </label>
        </div>
      </div>
      <div class="form-group label-floating is-empty">
          <label class="control-label">Nota</label>
         {{ form_widget(edit_form.notes, {'attr': {'class': 'form-control'}}) }}
          <span class="material-input"></span>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.estado) }}
        {{ form_widget(edit_form.estado, {'attr': {'class': 'form-control', 'data-dropdownjs':'true'}}) }}
        <span class="material-input"></span>
      </div>
      <div class="form-group">
        {{ form_label(edit_form.identifier) }}
        {{ form_widget(edit_form.identifier, {'attr': {'class': 'form-control', 'data-dropdownjs':'true'}}) }}
        <span class="material-input"></span>
      </div>
      <a class="btn btn-default" href="{{ path('producto_pelota_index') }}"> Volver</a>
      <input type="submit" class="btn btn-primary" value="Crear" />
    {{ form_end(edit_form) }}

  {% endblock %}

  {% block javascripts %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3SbyFGlZKCWqTkydIlRHcUWPgPJyfqrA&callback=laFuentePrestamos.newUserPage.initGoogleMaps" async defer ></script>
    <script src="{{ asset('js/imageViewer.js') }}" type="text/javascript" charset="utf-8"></script>
    <script src="{{ asset('js/laFuente/pages/newUser.js') }}" type="text/javascript" charset="utf-8"></script>
  {% endblock %}
