{% extends 'LaFuentePrestamoBundle::layout.html.twig' %}



{% set activeMenu = "Productos" %}
{% set activeSubMenu = "Pelota" %}

{% block breadcrumb %}
  <li><a href="#">Producto</a></li>
  <li class="active">Pelota Inicio</li>
{% endblock %}

{% block sectionBody %}
<div class="row">
  <div class="col-md-7">
    <h1>Lista de Pelotas</h1>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Identificador</th>
                <th>Estado</th>
                <th>Creado</th>
                <th>Avilitado</th>
                <th>Nota</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for pelotum in pelotas %}
            <tr>
                <td>{{ pelotum.identifier }}</td>
                <td>{{ pelotum.estado }}</td>
                <td>{{ pelotum.id }}</td>
                <td>{% if pelotum.createdAt %}{{ pelotum.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if pelotum.availability %}Si{% else %}No{% endif %}</td>
                <td>{{ pelotum.notes }}</td>
                <td>
                  <a class="btn btn-success" href="{{ path('producto_pelota_show', { 'id': pelotum.id }) }}" title="Ver"><span class='glyphicon glyphicon-eye-open'></span></a>
                  <a class="btn btn-primary" href="{{ path('producto_pelota_edit', { 'id': pelotum.id }) }}" title="Editar"><span class='glyphicon glyphicon-pencil' ></span></a>
                  <a class="btn btn-danger" href="{{path('producto_pelota_delete', { 'id': pelotum.id })}}" title='Eliminar'><span class='glyphicon glyphicon-remove'></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
  <div class="col-md-5">
    <h1>Crear Pelota</h1>
    {{ form_start(form) }}
      <div class="form-group">
        <div class="checkbox">
          <label>
            {{ form_widget(form.availability) }}<span class="checkbox-material"></span> {{ form_label(form.availability) }}
          </label>
        </div>
      </div>
      <div class="form-group label-floating is-empty">
          <label class="control-label">Nota</label>
         {{ form_widget(form.notes, {'attr': {'class': 'form-control'}}) }}
          <span class="material-input"></span>
      </div>
      <div class="form-group">
        {{ form_label(form.estado) }}
        {{ form_widget(form.estado, {'attr': {'class': 'form-control', 'data-dropdownjs':'true'}}) }}
        <span class="material-input"></span>
      </div>
      <div class="form-group">
        {{ form_label(form.identifier) }}
        {{ form_widget(form.identifier, {'attr': {'class': 'form-control', 'data-dropdownjs':'true'}}) }}
        <span class="material-input"></span>
      </div>
      <input type="submit" class="btn btn-primary" value="Crear" />
    {{ form_end(form) }}

  </div>
</div>
  {% endblock %}
