{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}
{% set activeMenu = "jobs" %}

{% block breadcrumb %}
  <li><a href="#">Tarea</a></li>
  <li class="active">Editar</li>
{% endblock %}

{% block script %}
    {{ parent() }}
    <script src='//cdn.tinymce.com/4/tinymce.min.js'></script>
    <script type="text/javascript">
      tinymce.init({
        selector: '#cuerpo',
          schema: 'html5'
      });
    </script>
{% endblock script %}
{% block sectionBody %}
<h1>Editando Tarea</h1>
{{ form_start(edit_form) }}
    <div class="form-group label-floating is-empty">
        <label class="control-label">Titulo</label>
        {{ form_widget(edit_form.titulo, {'attr': {'class': 'form-control', 'placeholder': 'Titulo'}}) }}
        <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty">
      <label class="control-label">Tipo de Certificado</label>
      {{ form_widget(edit_form.tipoCertificado, {'attr': {'class': 'form-control'}}) }}
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty">
      <label class="control-label">Cuerpo del Certificado</label>
      {{ form_widget(edit_form.cuerpo, {'attr': {'class': 'form-control', 'placeholder': 'Curpo del Certificado'}, 'required': 'true' , 'id' : "cuerpo"}) }}
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty">
      <label class="control-label">Quienes Firman?</label>
      {{ form_widget(edit_form.firmantes, {'attr': {'class': 'form-control'}}) }}
      <span class="material-input"></span>
    </div>
    <div class="form-group label-floating is-empty">
      <label class="control-label">Quienes lo Reciben?</label>
      {{ form_widget(edit_form.personas, {'attr': {'class': 'form-control'}}) }}
      <span class="material-input"></span>
    </div>
    <div class="form-group">
      <div class="checkbox">
        <label>
          {{ form_widget(form.terminado) }}<span class="checkbox-material"></span> Terminado
        </label>
      </div>
    </div>
    <input type="submit" class="btn btn-primary" value="Crear" />
 {{ form_end(edit_form) }}
{% endblock %}
