{% extends "LaFuenteCertificadoBundle::layout.html.twig" %}

{% set activeMenu = "jobs" %}

{% block breadcrumb %}
  <li><a href="#">Tareas</a></li>
  <li class="active">Inicio</li>
{% endblock %}

{% block sectionBody %}
<div class="row">
  <div class="col-md-7">
    <h1>Lista de Tareas</h1>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Tipo</th>
                <th>Terminado</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for job in jobs %}
            <tr>
                <td><a href="{{ path('jobs_show', { 'id': job.id }) }}">{{ job.id }}</a></td>
                <td>{{ job.titulo }}</td>
                <td>{{ job.tipoCertificado.nombre }}</td>
                <td>{% if job.terminado %}Yes{% else %}No{% endif %}</td>
                <td>
                    <a title="Ver" class="btn btn-primary" href="{{ path('jobs_show', { 'id': job.id }) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                    <a title="Modificar" class="btn btn-primary" href="{{ path('jobs_edit', { 'id': job.id }) }}"><span class="glyphicon glyphicon-pencil"></span></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
  </div>
    <div class="col-md-5">
      <h1>Crear Tarea</h1>
      {{ form_start(form) }}
          <div class="form-group label-floating is-empty">
              <label class="control-label">Titulo</label>
              {{ form_widget(form.titulo, {'attr': {'class': 'form-control', 'placeholder': 'Titulo'}}) }}
              <span class="material-input"></span>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Tipo de Certificado</label>
            {{ form_widget(form.tipoCertificado, {'attr': {'class': 'form-control'}}) }}
            <span class="material-input"></span>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Cuerpo del Certificado</label>
            {{ form_widget(form.cuerpo, {'attr': {'class': 'form-control', 'placeholder': 'Curpo del Certificado'}, 'required': 'true' , 'id' : "cuerpo"}) }}
            <span class="material-input"></span>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Quienes Firman?</label>
            {{ form_widget(form.firmantes, {'attr': {'class': 'form-control'}}) }}
            <span class="material-input"></span>
          </div>
          <div class="form-group label-floating is-empty">
            <label class="control-label">Quienes lo Reciben?</label>
            {{ form_widget(form.personas, {'attr': {'class': 'form-control'}}) }}
            <span class="material-input"></span>
          </div>
          {{ form_widget(form.terminado, {'attr': {'class': 'form-control hidden'}}) }}
          <input type="submit" class="btn btn-primary" value="Crear" />
       {{ form_end(form) }}
    </div>
  </div>

{% endblock %}
