{% extends 'base.html.twig' %}


{% set activeMenu = "producto" %}

{% block breadcrumb %}
  <li><a href="#">Productos</a></li>
  <li class="active">Editar Bombilla</li>
{% endblock %}

{% block sectionBody %}
    <h1>Bombilla edit</h1>

    {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('producto_bombilla_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endblock %}

    {% block javascripts %}
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3SbyFGlZKCWqTkydIlRHcUWPgPJyfqrA&callback=laFuentePrestamos.newUserPage.initGoogleMaps" async defer ></script>
      <script src="{{ asset('js/imageViewer.js') }}" type="text/javascript" charset="utf-8"></script>
      <script src="{{ asset('js/laFuente/pages/newUser.js') }}" type="text/javascript" charset="utf-8"></script>
    {% endblock %}
