{% extends 'base.html.twig' %}


{% set activeMenu = "producto" %}

{% block breadcrumb %}
  <li><a href="#">Productos</a></li>
  <li class="active">Ver Bombilla</li>
{% endblock %}

{% block sectionBody %}
    <h1>Bombilla</h1>

    <table>
        <tbody>
            <tr>
                <th>Estado</th>
                <td>{{ bombilla.estado }}</td>
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ bombilla.id }}</td>
            </tr>
            <tr>
                <th>Createdat</th>
                <td>{% if bombilla.createdAt %}{{ bombilla.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Availability</th>
                <td>{% if bombilla.availability %}Yes{% else %}No{% endif %}</td>
            </tr>
            <tr>
                <th>Notes</th>
                <td>{{ bombilla.notes }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('producto_bombilla_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('producto_bombilla_edit', { 'id': bombilla.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
    {% endblock %}

    {% block javascripts %}
      <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3SbyFGlZKCWqTkydIlRHcUWPgPJyfqrA&callback=laFuentePrestamos.newUserPage.initGoogleMaps" async defer ></script>
      <script src="{{ asset('js/imageViewer.js') }}" type="text/javascript" charset="utf-8"></script>
      <script src="{{ asset('js/laFuente/pages/newUser.js') }}" type="text/javascript" charset="utf-8"></script>
    {% endblock %}
